html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: auto;
  font-family: 'DM Mono', monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}



.favicon-icon {
  width: 20px;
  /* Adjust size */
  height: 20px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}


.custom-navbar{
  border-bottom: 2px solid #63585E; /* Creates a thin underline */
  transition: border-color 0.3s ease-in-out;
}


.scrolled-navbar {
  background: #63585E !important; /* Original background color when scrolling */
  border-bottom: none; /* Removes the thin underline */
}

.navbar-toggler {
  border: none !important; /* Removes border around hamburger icon */
}


.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 991px) {
  .custom-navbar {
    border-bottom: none; /* Removes underline when collapsed */
  }

  .navbar-collapse {
    border-bottom: 2px solid #63585E; /* Adds underline only when expanded */
  }
}

/* Apply hover effect only on non-touch devices */
@media (hover: hover) {
  .website-brand:hover .favicon-icon {
    transform: scale(1.2) rotate(-5deg);
    /* Slight tilt and scale */
    filter: drop-shadow(0px 4px 6px rgba(255, 255, 255, 0.3));
    /* Soft glow effect */
  }
}

.underline { /* Makes the line span the full width of the container */
  height: 2px;  /* Adjust the thickness of the line */
  background-color: #63585E;  /* Line color */
  margin-top: 10px;
}


.project-title {
  color: #63585E;
}

.project-link {
  text-decoration: none;
  /* Remove the underline from the link */
}

.project-container {
  position: relative;
  background-color: #fff;
  /* White background for the container */
  border-radius: 30px;
  /* Rounded corners for the image and caption container */
}

.project-container:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  /* Subtle shadow on hover */
  transform: translateY(-5px);
  /* Slight upward movement for the container */
}

.project-container img {
  border-bottom: 5px solid #f8f9fa;
  /* Border between image and caption */
}

.caption {
  padding: 0 4px 0 4px;
  /* Removed padding-top to eliminate the space above the caption */
}

.caption h5 {
  font-size: 1.2rem;
  /* Smaller font size for the heading */
  margin-bottom: 0.3rem;
}

.caption p {
  font-size: 0.9rem;
  /* Smaller font size for the description */
  color: #6c757d;
  /* Muted text color for the description */
  margin-bottom: 0;
}