html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
}

.linkedin-link {
  color: #ffffff !important;
  opacity: 0.5;
  transition: color 0.3s ease-in-out;
}

.linkedin-link:hover {
  color: #ffffff !important;
  opacity: 0.75;
}

.favicon-icon {
  width: 20px; /* Adjust size */
  height: 20px;
  margin-right: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.website-brand:hover .favicon-icon {
  opacity: 1;
}

