$primary-color: #000;
$secondary-color: #7A3DDA;
$background-color: #eee8f7;
$light-gray: #f8f9fa;
$muted-text: #6c757d;

html, body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: auto;
  font-family: 'DM Mono', monospace;
  background-color: $background-color !important;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* App.js */
.main-content {
  flex: 1;
}

/* Footer.js */
footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

/* Home.js */
.skill-header {
  color: $primary-color;
}

.underline {
  height: 2px;
  background-color: $primary-color;
  margin-top: 10px;
}

.details {
  font-size: 0.8rem;
}

.experience-item {
  margin-bottom: 1rem;
}

/* NavigationBar.js */
.favicon-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.home-container {
  border-bottom: 2px solid $primary-color;
  transition: border-color 0.3s ease-in-out;
}

.scrolled-navbar {
  background: $primary-color !important;
  border-bottom: none !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 991px) {
  .custom-navbar {
    border-bottom: none;
  }
}

@media (hover: hover) {
  .website-brand:hover .favicon-icon {
    transform: scale(1.2) rotate(-5deg);
    filter: drop-shadow(0px 4px 6px rgba(255, 255, 255, 0.3));
  }
}

/* Button */
.btn-dark-purple {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  color: white !important;

  &:hover {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }
}

/* Projects.js */
.project-title {
  color: $primary-color;
}

.project-link {
  text-decoration: none;
}

.project-container {
  position: relative;
  background-color: #fff;
  border-radius: 30px;

  &:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }

  img {
    border-bottom: 5px solid $light-gray;
  }
}

.caption {
  padding: 0 4px;

  h5 {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.9rem;
    color: $muted-text;
    margin-bottom: 0;
  }
}
